@model CountryDTO
@{
    ViewData["Title"] = "NewCountry";
}


<div class="row m-3">
    <div class= "col-8">
        <h1>New Country</h1>
    </div>
</div>
<form method="post">
<div class="row m-3">
    <div class="col-8">
        <input type="hidden" asp-for="Id" />
        <span style="display:inline-block;">Name </span>
 <input asp-for="Name" />
    </div>
    </div>
<div class="row ms-5 mx-3">
    <div class="col-8">
            @if ((bool)ViewData["Edit"] == false
            )
            {
                <input type="submit" asp-action="SaveData" value="Save" class="btn btn-dark" />
            }
            else
            {
                <input type="submit" asp-action="Update" asp-controller="Country" value="Update" class="btn btn-dark" />

            }
        </div>
</div>
</form>
